body {
	
}

#banner {
	width:100%;
}

.principal{
	background: #4372ca;
	padding: 10px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	font-size: 35px;
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 30px
}

em strong {
	color: #000000;
}

.itens {
	font-size: 25px;
	font-style:normal
}

.beneficios {
	background: #ffffff;
	padding: 30px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-right: 35%;
}

.imagembeneficios {
	width: 129%;
}