body {
	
}

#banner {
	width:100%;
}

.principal{
	background: #fcf8f8;
	padding: 10px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 30px
}

em strong {
	color: #0066ff;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #8b7575;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 40%;
}